div {
     background-color: lightgrey; 
     height: 300px;
     width: 300px;
     text-align: center;
     justify-content: center;
     margin: 2px 2px 2px 2px;
     
    }
div:nth-of-type(5n+1) {
     background-color: #1abc9c;
     }
div:nth-of-type(5n+2) {
     background-color: #3498db;
     }
div:nth-of-type(5n+3) {
     background-color: #9b59b6;
     }
div:nth-of-type(5n+4) {
     background-color: #e67e22;
     }
div:nth-of-type(5n) { 
    background-color: #e74c3c;
    width: 100%;
 }

section {
    display:flex;
    flex-wrap:wrap;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    justify-content:space-between;
    align-items:center;
    align-content:center;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
}

